<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="css/materializecss-icon.css">
  <link rel='stylesheet' href='css/app.css' />
</head>

<body class="" >
<div  id="loading" class="col l3 offset-l5">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
  <div id="content">
      <div id="app">

          <router-view></router-view>
        
      </div>
  </div>
</body>

<script src="js/app.js"></script>
<script src="js/materialize.min.js"></script>
<script src="js/main.js"></script>
</html>
