<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel='stylesheet' href='css/app.css' />
</head>
<body>
{% block body %}{% endblock %}
</body>

<script src="js/app.js">

</script>
</html>
