<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="css/materializecss-icon.css">
  <link rel='stylesheet' href='css/app.css' />
  <link rel='stylesheet' href='css/main.css' />
</head>
<body class="pink">
{% block body %}{% endblock %}
</body>

<script src="js/app.js"></script>
<script src="js/materialize.min.js"></script>
</html>
